.thumbnail {
    width: 60px;
}
.thumbnail:hover {
    border: 2px solid pink;
    margin-bottom: -2px;
}
#imageForWath {
    width:  478px;
    height: 478px;
    margin-top: 15px;
}
.current {
    border: 2px solid pink;
    margin-bottom: -2px;
}